langgraph
langchain
langchain-groq
langsmith
pydantic-settings
google-api-python-client
pyyaml
certifi
pydantic[email]
psycopg2-binary
langchain-ollama
types-PyYAML
types-psycopg2
langgraph-checkpoint-postgres
types-httplib2
types-google-api-python-client
python-multipart
google-auth-oauthlib
faker
gradio
types-requests